.NavBarText {
  color: bisque;
  font-family: arial;
  position: sticky;
}

.NavBarContainer {
  background-color: rgb(126, 128, 129);
  width: 10%;
  height: 6em;
  align-self: flex-end;
  display:flexbox;
  position:sticky
}

.NavBarList{
    font-size: 0.5em;
    font-family: Sawarabi Gothic;
    
}